/database/processed
/database/configs
/database/raw
/database/ama
/database/eval
/database/polycam
/database/record3d
/database/synthetic
/database/motion
/database/aria
/logdir*
/tmp

__pycache__/
build/
*.egg-info/
*.so
*.pth
*.zip